.cell {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 20pt;
  text-align: center;
}

.highlighted.cell {
  border: 2px solid yellow;
}

.number-input:invalid {
  color: red;
}
